<h1>学習を保存しよう</h1><br>
<%= form_with model: @save_data, url: save_datas_path, method: :post do |save_data| %>
  <table class="table new_table">
    <tr class="new_table_row">
      <td><%= save_data.label :day, "学習日" %></td>
      <td><%= save_data.date_field :day %></td>
    </tr>
    <tr class="new_table_row">
      <td><%= save_data.label :start_time, "学習" %><%= save_data.label :finish_time, "時間" %></td>
      <td><%= save_data.time_select :start_time, size: 10 %>～<%= save_data.time_select :finish_time, size: 10 %></td>
    </tr>
    <tr class="new_table_row">
      <td><%= save_data.label :place, "学習場所　" %></td>
      <td>
        <%= save_data.radio_button :place, SaveData.places.key(0) %><%= SaveData.places_i18n[:home] %>
        <%= save_data.radio_button :place, SaveData.places.key(1) %><%= SaveData.places_i18n[:library] %>
        <%= save_data.radio_button :place, SaveData.places.key(2) %><%= SaveData.places_i18n[:cafe] %>
        <%= save_data.radio_button :place, SaveData.places.key(3) %><%= SaveData.places_i18n[:other] %>
        <%= save_data.text_field :other_place %>
      </td>
    </tr>
    <tr class="new_table_row">
      <td><%= save_data.label :content, "学習内容" %></td>
      <td><%= save_data.text_field :content %></td>
    </tr>
  </table>
  <%= save_data.check_box :post_new, {}, true, false %> 同時に投稿する<br>
  <%= save_data.submit "保存（投稿）する", class: "btn btn-secondary" %>
<% end %>