<div class="container">
  <h1>学習詳細</h1>
  <table class="table">
    <tr>
      <td class="table table-active w-25">学習日</td>
      <td><%= @save_data.day.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <td class="table table-active w-25">時刻</td>
      <td><%= @save_data.start_time.strftime("%H:%M") %>～<%= @save_data.finish_time.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td class="table table-active w-25">場所</td>
      <td>
        <%= @save_data.place_i18n %>
        <% if @save_data.place == SaveData.places.key(3) %>
        <%= @save_data.other_place %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="table table-active w-25">時間</td>
      <td><%= @save_data.time.round(1) %>h</td>
    </tr>
    <tr>
      <td class="table table-active w-25">内容</td>
      <td>
        <%= @save_data.content %>
        <% if current_user.id == @save_data.user.id %>
          <% if @save_data.image.attached? %>
            <%= link_to user_show_image_path(@save_data.user, @save_data) do %>
              <%= image_tag @save_data.image, size: "200x200" %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
  <%= link_to "<<一覧へ戻る", user_save_datas_path(@save_data.user, @save_data), class: "float-left" %>
  <div class="float-right h3">
    <% if current_user.already_favorites?(@save_data) %>
      <%= link_to user_save_data_favorites_path(@save_data.user, @save_data), method: :delete do %>
        <i class="fas fa-thumbs-up"></i>
      <% end %>
    <% else %>
      <%= link_to user_save_data_favorites_path(@save_data.user, @save_data), method: :post do %>
        <i class="far fa-thumbs-up"></i>
      <% end %>
    <% end %>
    <%= @save_data.favorites.count %>
  </div><br>
  <%= form_with model: @comment, url: user_save_data_comments_path(current_user, @save_data), method: :post do |comment| %>
    <div class="comment-form">
      <%= comment.text_area :comment, size: "20x3" %><br>
      <%= comment.submit "コメント送信", class: "btn btn-secondary" %>
    </div>
  <% end %>
  <table class="table">
    <caption class="caption-top">コメント<%= @all_comments.count %>件　いいね<%= @favorites.count %>件</caption>
    <tr class="table-active">
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="row justify-content-center"><%= paginate @comments %></div>
