<h1>投稿一覧画面</h1>
<table class="table index_table">
  <tr class="table-active">
    <th></th>
    <th>日付</th>
    <th>時刻</th>
    <th>場所</th>
    <th>内容</th>
    <th>時間</th>
    <th></th>
    <th></th>
  </tr>
  <% @posts.each do |post|%>
      <tr>
        <td>
          <%= link_to post_path(post.id) do %>
            <i class="fas fa-info-circle"></i>
          <% end %>
        </td>
        <td><%= post.day.strftime("%Y年%m月%d日") %></td>
        <td><%= post.start_time.strftime("%H:%M") %>～<%= post.finish_time.strftime("%H:%M") %></td>
        <td>
          <%= post.place_i18n %>
          <% if post.place == SaveData.places.key(3) %>
          <%= post.other_place %>
          <% end %>
        </td>
        <td><%= post.content %></td>
        <td><%= post.time.round(1) %>h</td>
        <td>
          <%= link_to edit_post_path(post.id) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to post_path(post.id), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<div class="row justify-content-center"><%= paginate @posts %></div>