<h1>学習を投稿しよう</h1>
<%= form_with model: @post, url: posts_path, method: :post do |post| %>
  <table class="table new_table">
    <tr class="new_table_row">
      <td><%= post.label :day, "学習日" %></td>
      <td><%= post.date_field :day %></td>
    </tr>
    <tr class="new_table_row">
      <td><%= post.label :start_time, "学習" %><%= post.label :finish_time, "時間" %></td>
      <td><%= post.time_select :start_time, size: 10 %>～<%= post.time_select :finish_time, size: 10 %></td>
    </tr>
    <tr class="new_table_row">
      <td><%= post.label :place, "学習場所　" %></td>
      <td>
        <%= post.radio_button :place, Post.places.key(0) %><%= Post.places_i18n[:home] %>
        <%= post.radio_button :place, Post.places.key(1) %><%= Post.places_i18n[:library] %>
        <%= post.radio_button :place, Post.places.key(2) %><%= Post.places_i18n[:cafe] %>
        <%= post.radio_button :place, Post.places.key(3) %><%= Post.places_i18n[:other] %>
        <%= post.text_field :other_place %>
      </td>
    </tr>
    <tr class="new_table_row">
      <td><%= post.label :content, "学習内容" %></td>
      <td><%= post.text_field :content %></td>
    </tr>
  </table>
  <%= post.submit "保存（投稿）する", class: "btn btn-secondary" %>
<% end %>